
{% extends "layout.html" %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin Dipartment</h1>
              <span class="subheading">{{params['tag_line']}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<h1>Basic Option</h1>
<hr>

<a href="/edit/0"><button class="btn btn-primary" scope="col">Add a new Post</button></a>
<a href="/logout"><button class="btn btn-primary" scope="col">LOGOUT</button></a>
    <!-- Main Content -->
<hr>
<h1>You are logged</h1>
<form action="/uploader" method="post" enctype="multipart/form-data">
    <input type="file" name="file1">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  {% for posts in posts %}
    <tr>
      <td>{{posts.sno}}</td>
      <td>{{posts.title}}</td>
      <td>{{posts.date}}</td>
      <td><a href="/edit//{{posts.sno}}"> <button class="btn btn-primary" scope="col">Edit</button></a> </td>
      <td><a href="/delete//{{posts.sno}}"><button class="btn btn-primary" scope="col">Delete</button></td>
    </tr>
  {% endfor %}

  </tbody>
</table>


{% endblock %}