{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url(' {{ url_for('static',filename='assets/img/contact-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <a href="/dashboard"><button class="btn btn-primary" scope="col">Dashboard Home</button></a>
                            <a href="/logout"><button class="btn btn-primary" scope="col">LOGOUT</button></a>
                            <hr>
<form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/edit//{{sno}}" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name ='title' type="text" value ='{{post.title}}' placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="tline" type="text" name='tline' value ='{{post.tagline}}' placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="tline">tagline</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="slug" type="tel"  value ='{{post.slug}}' name ='slug' placeholder="Enter your phone number..." data-sb-validations="required" />
                                    <label for="slug">slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content"  name="content"   placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"> '{{post.content}}'</textarea>
                                    <label for="content" >Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                  <div class="form-floating">
                                    <input class="form-control" id="img_file" name="img_file"  value ='{{post.img_file}}' placeholder="Enter your message here..."  data-sb-validations="required">
                                    <label for="img_file">Image Files</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                <br />
                                 <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
        <button class="btn btn-primary text-uppercase enabled" id="submitButton" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>


{% endblock %}